<launch>
  <group ns="hbba">
    <node name="script_engine" pkg="script_engine" type="script_engine"
      output="screen">
      <remap from="emotion_choice" to="/face/emotion_choice"/>
      <remap from="voice" to="/voice/say"/>
    </node>
    <node name="iw_solver" pkg="iw_solver_ortools" type="iw_solver_ortools"
      output="screen"/>
    <node name="iw" pkg="iw" type="iw.py"/>
  </group>
</launch>
