<launch>
    <!-- Johnny 0 without AZ3, includes Kinect and RTAudio -->
    <include file="$(find jn0_bringup)/launch/jn0_standalone.launch"/>

    <!-- ManyEars tracking with filter -->
    <group ns="manyears">
        <include file="$(find jn0_bringup)/launch/jn0_manyears.launch"/>
        <node name="stream_filter" pkg="nodelet" type="nodelet"
            args="standalone topic_filters/GenericDivisor
                /audio_stream audio_stream">
            <param name="latch_size" value="20"/>
        </node>
        <!-- Sound reaction behavior -->
        <node name="pose_react" pkg="jn0_demos" type="pose_react" output="screen">
            <param name="phi_max" value="1.00"/>
            <param name="theta_max" value="0.40"/>
            <param name="talk_msg" value="Comment?"/>
            <remap from="pose" to="source_pose"/>
            <remap from="voice/say" to="/voice/say"/>
        </node>
        <param name="look_at_pose/abtr_priority" value="50"/>
    </group>

    <!-- Ball tracking with filter -->
    <group ns="ball_tracking">
        <node name="ball_tracker" pkg="jn0_demos" type="ball_tracker">
            <param name="far_plane" value="1.20"/>
            <param name="target_threshold" value="0.1"/>
        </node>
        <node name="kinect_filter" pkg="nodelet" type="nodelet"
            args="standalone topic_filters/GenericDivisor
                /openni/depth_registered/points points"/>
        <param name="ball_pose/abtr_priority" value="20"/>
    </group>

    <!-- Poke and loud sound detection -->
    <include file="$(find jn0_demos)/launch/poke_detect.launch"/>
    <include file="$(find jn0_demos)/launch/snd_detect.launch"/>

    <!-- Pose arbitration -->
    <node name="look_at_pose_abtr" pkg="nodelet" type="nodelet"
        args="standalone abtr_priority/Generic">
        <remap from="look_at_pose_abtr/abtr_cmd" to="look_at_pose"/>
        <remap from="look_at_pose_abtr/cmd/register" to="look_at_pose/register"/>
    </node>
    <node name="register_pose" pkg="abtr_priority" type="register"
      args="/look_at_pose
        /ball_tracking/ball_pose
        /manyears/look_at_pose" />

    <!-- Look at pose actuator link -->
    <include file="$(find jn0_demos)/launch/jn0_lookat.launch"/>
    <param name="look_at_pos/threshold" value="0.05"/>
    <param name="look_at_pos/neutral_tilt" value="-0.75"/>

</launch>
