<launch>
    <group ns="hbba">
        <node name="iw" pkg="iw" type="iw.py"/>
        <node name="iw_translator" pkg="iw_translator" type="iw_translator_node"/>
        <node name="events_generator" pkg="iw" type="events_generator"/>
        <node name="goto_events_observer" pkg="iw" type="goto_events_observer"/>
    </group>
</launch>
