<launch>
    <group ns="hbba">
        <node name="iw" pkg="iw" type="iw"/>
        <node name="iw_translator" pkg="iw_translator" type="iw_translator_node"
            output="screen"/>
        <node name="events_generator" pkg="iw" type="events_generator"/>
        <rosparam>
            solver_model:
                solver_log:   true
                solver_sa:   false
                time_limit:   1000
                max_p:        true
        </rosparam>
    </group>
</launch>
