<launch>
    <group ns="hbba">
        <node name="iw" pkg="iw" type="iw"/>
        <node name="script_engine" pkg="script_engine" type="script_engine"
            output="screen">
            <param name="no_eval" value="true"/>
        </node>
        <node name="iw_solver" pkg="iw_solver_ortools" type="iw_solver_ortools"
            launch-prefix="xterm -e gdb --args">
            <param name="debug_print" value="true"/>
            <param name="optimize_intensity" value="true"/>
            <param name="optimize_utility" value="false"/>
        </node>
    </group>

</launch>
