Package: or-tools
Version: 7.1.6720
Section: base
Priority: optional
Architecture: amd64
Maintainer: François Ferland <ff@francoisferland.com>
Description: Google or-tools library, without Java parts.
 Based on official tar distribution.


