Package: or-tools
Version: 5.1.4047-1
Section: base
Priority: optional
Architecture: amd64
Maintainer: François Ferland <ff@francoisferland.com>
Description: Google or-tools library, without Java parts.
 Based on official or-tools_Ubuntu-14.04-64bit_v5.1.4047 tar distribution.


