<launch>
    <node name="sphinx_node" pkg="audio_tools" type="sphinx_node"
        output="screen">

        <remap from="voice_stream"    to="/null_voice"/>
        <remap from="tracked_sources" to="/null_sources"/>

        <param name="model_basepath" 
               value="$(find hbba_validation)/data/6466"/>

        <rosparam>
            min_energy:      0.05
            voice_trigger:    480
            silent_trigger: 19200
        </rosparam>
    </node>
</launch>
