
<launch>
  <node name="rosgraph_monitor" pkg="rosgraph_gl" type="rosgraph_monitor">
    <rosparam>
      topics: 
       - /face_pose_openni
       - /hbba/desires_set
       - /hbba/intention
       - /image_imv_raw
       - /irl1_engage/cmd_vel
       - /irl1_engage/emo_pulse
       - /irl1_engage/look_at_pose
       - /jn0/audio_stream
       - /jn0/base_scan
       - /jn0/emo_pulse
       - /jn0/face/command
       - /jn0/face_expression
       - /jn0/irl_ptu_controller/cmd_pan
       - /jn0/irl_ptu_controller/cmd_tilt
       - /joy
       - /locate_face_imv/image_imv_raw
       - /locate_face_openni/image
       - /locate_legs/scan
       - /locate_sound/sources_info
       - /locate_sound/stream
       - /locate_voice/tracked_sources
       - /openni/rgb/image_rect
       - /openni/rgb/image_rect_color
       - /people
       - /people_poses
       - /people_poses_nocov
       - /qrcode_decoded
       - /qrcode_finder/image
       - /qrcode_finder/openni_image
       - /slam_gmapping/scan
       - /sphinx/selected_sources
       - /sphinx/tracked_sources
       - /sphinx_result
       - /spring_arm_follow/cmd_vel_out
       - /tf
       - /tr/cmd_vel
       - /tr/odom
       - /tr_teleop/cmd_vel
       - /tracked_sources

    </rosparam>
  </node>
</launch>

